html{
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
}
body{
	font-family: FuturaPTBold !important;
	font-family: SimpsonFont;
}

body, text{
	text-align: center;
	font-size: 7vh;
}
body, marquee{
	margin-bottom: 5vh;
}
nav{
	z-index: 2;
	position: relative;
	top: 0;
	left: -10vw;
	font-size: 2em;
	line-height: 120%;
	
}
nav a {
	color: black;
	padding-left: 10vw;
	text-decoration: none;	
}
nav a:hover{
	color: rgb(255,133,12);
}

body img{
	z-index: 1;
}
#home{
	position: relative;
	top: 0%;
	height: 100vh;
}
#second-part{
	position: relative;
	top: 100%;
	height: 100vh;
	width: 100%;
	background-color: rgb(79,118,223);
}
#characters{
	position: relative;
	top: 200%;
	height: 100vh;
	position: relative;
}
#history{
	position: relative;
	top: 300%;
	height: 100vh;
	background-color: rgb(131,195,63);
}
#videos{
	position: relative;
	top: 400%;
	height: 100vh;
	background-color: rgb(162,35,44);
}
#list li {
    list-style-type: none;
}
#homer-smart{
	position: absolute;
	z-index: 0;
	right: 13vw;
	width: 9vw;
}
#lisa-smart{
	position: absolute;
	z-index: 0;
	left: 13vw;
	width: 6vw;
}
#text-history{
	font-size: 0.6em;
	font-family: FuturaPTBook;
}
#div-text-history{
	text-align: justify;
	position: absolute;
	top: 20px;
	padding: 100px;
}
#div-nav{
	z-index: 0;
	height: 100vh;
}
#audio{
	position: absolute;
	right: 0;
	z-index: 20;
}
#rosquilla-div{
	
}
#sofa{
	margin-top: 5vh;
}
#gifs{
	position: absolute;
	bottom: 10vh;
	left: 9vw;
}
#gifs img{
	vertical-align: top;
	width: 20vw;
	border-radius: 30px;
}
#gif1{

}
#gif2{

}
#gif3{

}
#gif4{

}
#div-backgroundimg{
	height: 90vh;
}
#arrows1{
position: absolute;
width: 100%;
bottom: 0;
right: 0;
}
#arrows2{
position: absolute;
width: 100%;
bottom: 0;
right: 0;
}
#arrows3{
position: absolute;
width: 100%;
bottom: 0;
right: 0;
}
#arrows4{
position: absolute;
width: 100%;
top: 100vh;
right: 0;
}
#arrows5{
position: absolute;
width: 100%;
top: 100vh;
right: 0;
}

#playlist{
	position: absolute;
	margin: auto;
	left: 0;
	right: 6vw;
	top: 18.7vh;
	width: 54.9vw;
	height: 31.3vw;
	border:10px solid rgba(0,0,0,1);
	border-radius: 20px;
	z-index: 2;
}
#tv{
	position: absolute;
	margin: auto;
	left: 8.9vw;
	right: 6vw;
	top: 9vh;
	width: 78vw;
	height: 43vw;

	z-index: 1;
}
#title-history{
	position: absolute;
	left: 0;
	right: 0;
	top: 5vh;
}
#title-video{
	position: relative;
	z-index: 5;
	margin: 0;
	left: 0;
	right: 0vw;
}

#div-arrow-down{
	position: absolute;
	bottom: 5vh;
	right: 1vw;
}
#div-arrow-up{
	position: absolute;
	bottom: 5vh;
	left: 1vw;
}
#div-marquee{
	position: absolute;
	top: 10vh;
	margin-top: 0;
	padding-top: 0;
	height: auto;
	width: 100%;
}

#lisa{
	position: absolute;
	top: 2vh;
	left: 5vw;
}
#no-overflow{
	overflow-y: hidden;
}
#scratchy{
	position: absolute;
	top: 2vh;
	right: 12vw;
	}

#itchy{
	position: absolute;
	top: 8vh;
	right: -3vw;
	}
#title-characters{
}
.arrow{
	height: 10vh;
	opacity: 1;
}
.arrow:hover{
	opacity: 0.6;
}

.yellow{
	color: yellow;
}
.background-image{
	position: relative;
    top: 0;
    left: 0;
    width: 35vw;
    overflow-y: hidden;
    border-radius: 5px;
}
.logo-simpsons{
	margin-top: 10px;
	position: relative;
    top: 0;
    left: 0;
    width: 40vw;
    overflow-y: hidden;
}
.rosquilla{
	float: left;
	width: 5vw;
	
}

.simpsons-backgroundcolor{
	background-color: rgb(255,217,15);
}
.border-radius-1{
	border-radius: 25px;
}

.gif-size{
	width: 300px;
	height: auto;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}


@font-face {
    font-family: SimpsonFont;
    src: url(simpsonfont/Simpsonfont.ttf);
}
@font-face {
    font-family: FuturaPTBold;
    src: url(simpsonfont/FuturaPTBold.otf);
}
@font-face {
    font-family: FuturaPTBook;
    src: url(simpsonfont/FuturaPTBook.otf);
}